.container{
    margin: 0 auto;
    width: 1280px;
    background: white;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    color: black;
}


.dark-style{}
.black{
    background: black;
    color: white;
}
.white-txt{
    color: white !important;
}


.logo-color{color: #3181A6;}
.logo-header{
    display: block;
    margin-top: 61px;
    font-size: 80px;
    color: black;
    text-decoration: none;
}
.top-menu-block{
    margin-top: 38px;
    height: 75px;
    background-color: #35444F;
    text-align: center;
}
.top-menu-bar{
    display: inline-block;
    padding: 26px 33px 20px 33px;
    font-size: 24px;
    font-weight: 300;
    text-decoration: none;
    color: #FFFFFF;
    border-left: 1px solid #FFFFFF;
    background-color: #35444F;
}
.top-menu-bar:hover{
    background-color: #000000;
}
.left-menu-block{
    list-style-type: none;
    margin: 50px 50px 15px 0;
    padding-left: 0;
    width: 344px;
    float: left;
    border: 1px solid #000000;
}
.side-bar{
    display: inline-block;
    padding: 26px 0 26px 44px;
    font-size: 27px;
    font-weight: 300;
    color: #495863;
    text-decoration: none;
}
.left-menu-block li:hover{
    background: #DBDBDB;
}
.side-bar:hover{
    padding-left: 72px;
    color: #000000;
    font-weight: 400;
}
.centre-block-image{
    display: inline-block;
    margin-top: 50px;
    width: 880px;
    height: 530px;
    text-align: center;
    overflow:hidden;
    border: 1px solid #000000;
    background-repeat: no-repeat;
}
.centre-block-image img{
    margin-top: 68px;
}
.centre-block-image img {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}
.centre-block-image img:hover{
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.centre-block-txt{
    margin: 0 0 15px 0;
    padding-left: 400px;
    width: 880px;
}
.p-index{
    font-size: 18px;
    line-height: 24px;
}
.footer-block{
    height: 73px;
    clear:both;
    background: rgba(99, 105, 110, 0.48);
}
.footer-block-menu{
    display: inline-block;
    margin-left: 44px;
    padding: 20px 0 10px 0;
    font-size: 27px;
    text-decoration: none;
    color: #0C1927;
}
.footer-block-menu:hover{
    text-decoration: none;
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}
.copy-right{
    display:inline-block;
    padding-left:100px;
    text-align:right;
    font-size: 24px;
    color: #010101;
}

