.container-background{
    width: 1366px;
    height: 768px;
    margin: 0 auto;
    background-image: url("../images/background1.png");

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
}
.top-logo-mail-tel{
    width: 1028px;
    height: 61px;
    margin: 0 auto;
    padding-top: 46px;
}
.top-logo-mail-tel a{
    text-decoration: none;
    color: #FFFFFF;
}
.top-logo-mail-tel a:hover{
    color: #F26522;
}
.logo a{
    text-transform: uppercase;
}
.logo-img{
    float: left;
    height: 47px;
    background-image: url("../images/logo_white.png");
    background-repeat: no-repeat;
    padding-left: 63px;
}
.logo-img:hover{
    background-image: url("../images/logo_orange.png");
}
.logo-txt-milan{
    font-weight: 400;
    font-size: 29px;
    line-height: 27px;
}
.logo-txt-holidays{
    float: left;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}
.mail{
    text-align: end;
    line-height: 2px;
}
.tel{
    float: right;
    padding-top: 38px;
    line-height: 18px;
}
.main-content{
    width: 1030px;
    height: 560px;
    margin: 0 auto;
    padding-top: 17px;
    /*background-color: rgba(255, 255, 255, .2);*/
}
.line-image#3{
    width: 100%;
}
.container-tour{
    float: left;
    width: 29%;
    margin-right: 6.5%;
}
.container-tour-right{
    float: right;
    width: 29%;
    margin: 0;
}
.container-image{
    /*text-align: center;*/
    box-sizing: border-box;
    position: relative;
    width: 300px;
    height: 222px;
    overflow: hidden;
    /* градиентый контур вокруг картинок по сторонам*/
    /* но сами картинки уже с контуром - визуально выходит рамка на рамку */
    border-width: 0 3px;
    border-style: solid;
    border-image: linear-gradient(to bottom, white, rgba(0,0,0,0)) 1 100%;
}

.block-hover-details{
    position: absolute;
    /*top: 167px;*/
    top: 222px;
    left: 1px;
    width: 100%;
    height: 55px;
    background-color: #F26522;
    transition: 0.6s;
}
.image-tour{
    text-align: center;
}
.image-tour:hover+div{
    top: 167px;
    left: 1px;
}
.block-hover-details:hover{
    top: 167px;
    left: 1px;
}
.price {
    font-size: 20px;
    line-height: 20px;
    float: left;
    margin-left: 16px;
    margin-bottom: 10px;
}
.price:before{
    display: block;
    content: 'from';
    text-align: left;
    font-size: 10px;
    line-height: 10px;
    margin-top: 7px;
    margin-bottom: 8px;
}
.details{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
    float: right;
    margin: 28px 0 10px 0;
}
.details:after{
    display: inline-block;
    font-size: 14px;
    content: '\003E';
    margin-left: 16px;
    margin-right: 16px;
}
.details a {
    text-decoration: none;
    color: #FFFFFF;
}
.link-kindTour{
    margin: 20px 0 30px 0;
}
.link-kindTour a{
    text-decoration: none;
    color: #FFFFFF;
}
.link-kindTour a:hover{
    color: #F26522;
}
.bottom{
    margin-top: 52px;
    font-size: 12px;
}