html, body{
    height: 100%;
    width: 100%;
}
.background-cover{
    height: 100%; /*height: 770px;*/
    width: 100%; /*width: 1366px;*/
    background: url("../images/backgroung.png") 100% 100% no-repeat;
    background-size: cover;
}
.container{
    height: 92vh;
    width: 100%;
    display: flex;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    height: 58px; /*height: 7.5%;*/
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}
.header a{text-decoration: none; color: #FFFFFF;}
.header a:hover{color: #3CB878;}
*:hover{transition: 0.7s;}

.name{
    display: inline-flex;
    justify-content: flex-start;
    flex-basis: 65%;
    margin-left: 80px;
    font-weight: 500;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.name:hover{font-size: 32px;}
.sprites-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: nowrap;
    flex-basis: 15%;
    border-right: 1px solid rgba(255, 255, 255, 0.7);
}
.sprites{
    margin-right: 27px;
    height: 27px;
    width: 25px;
    background: url(../images/Sprites.png) no-repeat;
}
.sprite-item1{background-position: 0px 0px;}
.sprite-item1:hover{background-position: 0px -27px;}

.sprite-item2{background-position: -25px 0px;}
.sprite-item2:hover{background-position: -25px -27px;}

.sprite-item3{background-position: -50px 0px;}
.sprite-item3:hover{background-position: -50px -27px;}

.welcome{
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0 80px 0 27px;
    flex-basis: 20%;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}

.main{
    position: relative;
    display: inline-block;
    margin: auto;
    width: 444px;
    background: rgba(255, 255, 255, 1);
}

.login{
    display: flex;
    justify-content: space-between;
    margin: 25px 54px 25px 64px;
    font-size: 20px;
    line-height: 20px;
}
.login a{text-decoration: none; color: #434343;}
.smaller-green-logIn a{
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}
.bigger-black-signUp a:hover{color: #3CB878;text-decoration: underline;}
.smaller-green-logIn a:hover{text-decoration: underline; font-size: 20px;}
.green-square{
    position: absolute;
    padding-left: 10px;
    left: 0px;
    color: #3CB878;
    background-color: #3CB878;
}
.buttons-login{
    display: flex;
    justify-content: space-between;
    margin: 25px 51px 25px 59px;
    font-size: 16px;
    vertical-align: center;
}
.buttons-login a{
    text-decoration: none;
    display: flex;
    background-color: #DF4A32;
    padding: 10px 10px;
    border-radius: 3px;
    color: #FFFFFF;
    width: 140px;
}
.buttons-login a:first-child{
    background-color: #294F9D;
}
.buttons-login a:hover{box-shadow: 0px 2px 7px rgba(0,0,0,0.5);}
.FB-G{
    position: relative;
    top: 8px;
    padding-left: 36px;
}
.line-right{border: 1px solid rgba(0, 0, 0, 0.1);}

.line-horisont{
    position: relative;
    display: flex;
    justify-content: space-around;
    margin: 0 57px;
    font-size: 16px;
}
.line-horisont div{
    width: 140px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.line-horisont span{
    position: absolute;
    top: -12px;
}
.form-container{
    width: 444px;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    text-align: left;
    margin: 10px 0 0 60px;
}
.input{
    display: inline-block;
    padding: 14px;
    margin-bottom: 12px;
    width: 68%;
    border: 0.1px solid #cccccc;
    border-radius: 3px;
}
.input:hover,.input:focus-within{
    outline: 0;
    outline-offset: 0;
    box-shadow: 0 3px 3px rgba(0,0,0,0.4);
}

.label--checkbox{
    display: block;
    color: #434343;
}
.label--checkbox a{
    text-decoration: none;
    color:#3CB878;
}
.label--checkbox a:hover{
    text-decoration: underline;
    font-size: 16px;
}
.label--checkbox input {
    display: none;/* <--скрываем дефолтный чекбокс */
}
.label--checkbox span {/* <-- стилизируем новый */
    height: 10px;
    width: 10px;
    padding: 2px;
    margin-top: 4px;
    border: 0.1px solid #cccccc;
    display: inline-block;
    position: relative;
    background-color:#FFF;
    border-radius:2px;
}
[type=checkbox]:checked + span:before {/* <-- ставим иконку, когда чекбокс включен  */
    content: '✓';
    position: absolute;
    top: -2px;
    left: -2px;
    font-size: 2.2em;
    color:#3CB878;
}
.button{
    width: 334px;
    padding: 17px;
    margin: 20px 0 38px 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    background-color: #3CB878;
    border: 0;
    border-radius: 3px;
}
.button:hover{
    outline: 0;
    outline-offset: 0;
    cursor: pointer;
    box-shadow: 0px 0px 7px rgba(0,0,0,0.5);
}

/*:active,:hover,:focus{outline:0;outline-offset:0}*/