.navigation a{
    color: #89CA62;
}
.anchor{
    opacity: 0;
    position: absolute;
}
.btn-navigate{
    cursor: pointer;
    padding: 12px 18px 0;
    border-radius: 10px;
    outline: none;
    border: none;
}
.to-top{
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
}
.fa-caret-up{
    font-size: 100px;
    line-height: 20px;
    color: #555555;
}
.to-top:hover{
    background-color: #89CA62;
}
.to-slide-toggle {
    /*display: none;*/
    position: absolute;
    left: 0;
    padding: 12px 18px;
    margin-top: 5px;
    margin-left: 10px;
    background-color: #c2cdcd;
}
.to-slide-toggle:hover {
    background-color: #89CA62;
}
