.theoretical-tasks{
    margin: 3% 0;
    display: grid;
    grid-template-columns: 0.5fr 2fr 4fr 0.5fr;
    gap: 20px; /*grid-column-gap: 20px;*/ /*grid-row-gap: 20px;*/
    justify-items: stretch;
    /*justify-items: center;*/
    align-items: start;
    text-align: left;
}
.theoretical-tasks div{
    align-self: stretch;
    padding: 14px;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    background: rgba(243, 243, 243, 0.5);
}
.question{
    grid-column: 2/3; /*grid-column-start: 2;*/ /*grid-column-end: 3;*/
}
div.question{
    font-weight: 600;
}
.answer{
    grid-column: 3/4; /*grid-column-start: 3;*/ /*grid-column-end: 4;*/
}


#containerForPrice{
    width: 50%;
}

.inputTxt {
    border: 3px solid #c0c0c0; /* Исходная рамка вокруг поля */
    width: 85%; /* Ширина поля */
    color: #c0c0c0;
}
.focus {
    border: 3px solid #8fbc8f; /* Рамка при получении фокуса*/
}
.blur {
    border: 3px solid #c0c0c0; /* рамка при потере фокуса */
    color: #8fbc8f;
}
.error {
    border: 3px solid red; /* рамка при потере фокуса */
    color: red;
}

div.showPrice{
    padding: 0;
    background: transparent;
}
.showPrice{
    display: flex;
}
.showPrice div, span, button{
    background: transparent;
    width: 100%;
    padding: 9px 0;
}
.deletePriceBtn{
    border: 0;
    color: red;
    padding: 0 20px;
    font-size: 36px;
    width: fit-content;
}