.container{
    width: 1192px;
    height: 736px;
    margin: 0 auto;
}
table{
    width: 100%;
    border-collapse: collapse;
    border: 25px solid #3A4965;

    font-family: 'Arimo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;

    text-align: center;
    text-transform: uppercase;
    color: #848484;
    background-color: #F2F2F2;

}
.table1 tr:nth-child(2n) {background-color: #E3E3E3;}
.table2 td:nth-child(2n) {background-color: #E3E3E3;}
.bg-color-top{background-color: #FAFAFA;}

.table1 td{
    border-right: 2px solid rgba(0,0,0,0.1);
    padding: 22px 0 22px 32px;
    height: 30px;
}
.table2 td{
    width: 160px;
    padding-bottom: 13px;
    vertical-align: middle;
}
.table2 tr{
    border-bottom: 2px solid rgba(0,0,0,0.1);

}
.title-row{
    border-bottom: 12px solid #3A4965 !important
}
.top td{
    padding: 22px 0;
    font-size: 20px;
    font-weight: 700;
    color: #484848;
}
.top-icons{
    font-size: 24px;
    color: #848484;
}
.side-icon{
    font-size: 26px;
    color: #848484;
}
.header{
    font-weight: 700;
    font-size: 1.4em;
    /*letter-spacing: 0px;*/
    vertical-align: middle;
    padding: 15px 0 15px 0;
    color: #FFFFFF;
}
.header-color-black{
    display: inline;
    font-size: 2em;
    line-height: 1.5em;
    /*letter-spacing: 0;*/
    color: #484848;
}
.header-color-black:before{
    display: block;
    content: 'choose your';
    text-align: center;
    font-size: 0.5em;
    line-height: 0.7em;
    margin-top: 27px;
}
.header a{
    text-decoration: none;
    color: #FFFFFF;
    transition: .3s;
}
.header2{
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    vertical-align: middle;
    padding: 15px 0 15px 0;
    color: #484848;
}
.color-green{background-color: #89C331 !important;}
.color-red{background-color:  #F04A56; font-size: 1.9em;}
.color-reddd{background-color:  #F04A56 !important;}
.color-blue{background-color:  #20807C !important;}

.price{
    position: relative;
    text-align: start;
    padding: 32px 0 20px 45px;
    font-weight: 700;
    font-size: 60px;
    line-height: 28px;
    color: #484848;
}
.price:after {
    position: absolute;
    top: 28px;
    content: 'per month';
    font-size: 16px;
    font-weight: 300;
    line-height: 15px;
}
.text-up{
    position: absolute;
    font-size: 16px;
    top: 8px;
}
.price-table2{
    position: relative;
    display: inline-block;
    width: 198px;
    text-align: left;
    padding: 4px 0 0 22px;
    font-weight: 700;
    font-size: 36px;
    line-height: 7px;
    color: #FFFFFF;
}
.text-up-table2{
    position: relative;
    top: -44px;
    left: -17px;
    font-size: 16px;
    color: #FFFFFF;
}
.price-table2:after {
    position: relative;
    top: -6px;
    left: 28px;
    content: 'per month';
    font-size: 14px;
    font-weight: 300;
    line-height: 15px;
}
.button a{
    position: relative;
    display: inline-block;
    width: 195px;
    height: 52px;
    border-radius: 3px;
    text-decoration: none;
    /*font-size: 16px;*/
    line-height: 50px;
    letter-spacing: 3px;
    font-weight: 700;
    color: #FFFFFF;

    background: #484848;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    transition: .3s;
}
.button-down{
    display: block;
    position: absolute;
    top: 43px;
    width: 195px;
    height: 9px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background: rgba(0,0,0,.2);
}
a:hover {
    box-shadow: -5px 15px 15px rgba(0,0,0,0.5);
    color: white;
}