body, html{
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
}
a{ text-decoration: none;  cursor: pointer; }
:hover { transition: 0.5s; }




/*____________________hat_____hat_____hat_____hat_____hat_____________________________________________________________*/
/*====================================================================================================================*/
.hat-section{
    width: 100%;
    height: 100%;
    background-image: url("../imgs/Sections background/section-1(header).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow: scroll;

    text-align: center;
    text-transform: uppercase;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
/*__________header-content_____*/
.header{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: stretch;
    align-self: stretch;
    height: 120px;
    background: rgba(94, 93, 88, 0.6);
}
.top-logo-left{
    grid-column: 2/3;                      /*grid-column-start: 2;*/ /*grid-column-end: 3;*/
    display: inline-flex;
    align-items: center;
}
.polygon {
    clip-path: polygon(50% 0, 100% 28%, 100% 72%, 50% 100%, 0 72%, 0 28%);
    width: 58px;
    height: 67px;
    font-size: 40px;
    background-color: #18cfab;
}
.polygon span{
    position: relative;
    top: 12px;
    color: #fff;
}
.top-logo{
    margin-left: 5px;
    font-weight: 600;
    font-size: 32px;
    text-transform: none;
    color: #18CFAB;
}
.top-logo::before{
    content: "the";
    font-weight: 300;
    color: white;
}
.top-nav-bar{
    grid-column: 3/5;                  /*grid-column-start: 3;*/ /*grid-column-end: 5;*/
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}
i.fa.fa-search{
    font-size: 18px;
}
.top-nav-bar li{
    padding: 47px 0;
}
.top-nav-bar li a{
    color: rgba(255, 255, 255, 0.6);
}
.top-nav-bar li a:hover {
    color: #18CFAB;
}
.top-nav-bar li:hover {
    border-bottom: 2px solid #18CFAB;
}
.top-nav-bar li:last-child:hover {
    transition: 0s;
    border-bottom: 2px solid transparent;
}
/*___________hat-content_______*/
.ham-theme {
    font-weight: 500;
    font-size: 34px;
    margin: 30px auto;
}
.ham-theme::after{
    content: " wordpress theme";
    color: #18CFAB;
}
.slogan-basic{
    font-size: 78px;
    margin-bottom: 30px;
}
.slogan-to-action{
    text-transform: capitalize;
    font-weight: 200;
    font-size: 34px;
    margin-bottom: 5%;
    color: rgba(255, 255, 255, 0.6);
}
/*_______hat-btn____&buttons for site_______*/
.buttons{
    width: 170px;
    font-weight: 500;
    font-size: 15px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 18px 0;
    margin: 14px;
    border: 0;
    border-radius: 5px;
    background-color: #18CFAB;
    box-shadow: 0 -4px 0  rgb(255, 255, 255);
}
.buttons:hover{
    background-color: #14B9D5;
}
.footer-hat {     /* для красоты :) позиционирования*/
    height: 120px;
}






/*_______services____BOXes___services_________________________________________________________________________________*/
/*====================================================================================================================*/
.service-boxes-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0;
    align-content: center;
    text-align: center;
    margin: 5px 0;
}
.service-boxes-section a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 25% 0;

    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;

    background: #1C2A33;
    color: #18CFAB;
}
.service-boxes-section a img{
    padding-bottom: 10%;
}
.service-boxes-section a:nth-child(2), .service-boxes-section a:nth-child(4){
    background: #18CFAB;
    color: #fff;
}





/*_______servicesTabs_______servicesTabs_______servicesTab____________________________________________________________*/
/*====================================================================================================================*/
.service-tabs-section{
        max-width: 1160px;
        margin: 0 auto;
        text-align: center;
}
/*_______title____total style_____title______*/
.title-section{
    display: block;
    padding-top: 85px;
}
.title-txt{
    text-transform: capitalize;
    font-weight: 300;
    font-size: 36px;
    color: #4E4E4E;
}
.title-txt.color-white{
    color: #ffffff;
}
div.title-section::after{
    content: '';
    display: block;
    margin: 37px auto 0 auto;
    width: 75px;
    height: 1px;
    background-color: #18cfab;
    box-shadow: 18px 4px 0 #18cfab;
}


.service-tab-header{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 75px;
}
.service-tab-header li{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
    border-right: 0;

    text-decoration: none;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 16px;
    color: #717171;

    position: relative;
}
.service-tab-header li:first-child{
    border-left: 0;
}
i.fa-caret-down{
    position: absolute;
    top: 70%;
    left: 45%;
    font-size: 50px;
    color: #18CFAB;
    opacity: 0;
    z-index: -1;
}
.service-tab-content_item{
    display: none;
    height: 140px;
    text-align: left;
    /*background-color: #f2f4f6;*/
    margin-bottom: 90px;
    margin-top: 28px;
    font-weight: 300;
    font-size: 14px;
    line-height: 23.5px;
    color: #777777;
    overflow: scroll;
}
.service-tab-content_item img{
    height: 140px;
    width: 192px;
}
.service-tab-content_item p{
    margin: 0 10px;
}
.service-tab-content_item.active{
    display: inline-flex;
}

li.service-tab-header_item:hover{
    cursor: pointer;
    border: 1px solid #18cfab;
}
.service-tab-header_item.active{
    color: #fff;
    background-color: #18cfab;
    border-color: #18cfab;
}
.service-tab-header_item i.fa-caret-down.active{
    opacity: 1;
}




/*_______purchase now____purchase now_____purchase now________________________________________________________________*/
/*====================================================================================================================*/
.purchase-section{
    height: 475px;
    /*width: 100%;*/
    background-image: url("../imgs/Sections background/section-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
.purchase-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.7);
}
.purchase-content h1{
    font-weight: 600;
    font-size: 40px;
    text-transform: uppercase;
    color: #18CFAB;
    margin: 130px 0 30px;
}
.purchase-content p{
    font-weight: 300;
    font-size: 16px;
    color: #D8D8D8;
    margin-bottom: 70px;
}





/*_______our amazing work____our amazing work_________________________________________________________________________*/
/*====================================================================================================================*/
.work-section{
    text-align: center;
    margin: 0 auto;
    background: #E9EDEF;
    padding: 0 0 70px 0;
}
.work-tabs-container{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    /*height: 60px;*/
    margin: 70px auto;
    text-align: left;
    border: 1px solid #DADADA;
}
.work-tabs-container li{
    padding: 20px 24px;
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    color: #717171;
    border-right: 1px solid #DADADA;
}
.work-tabs-container li:last-child{
    border-right: 0;
}
.work-tabs-container li:hover{
    cursor: pointer;
    outline: 1px dashed #18CFAB;
    outline-offset: -20px;
}
li.work-tab-active{
    outline: 1px solid #18CFAB; /* Пунктирная рамка */
    outline-offset: -1px; /* Выводим рамку внутри элемента */
    color: #18CFAB;
    transition: 0.9s;
}

/*---------- grid 4rowX4col for img ------------------*/
.work-img-container{
    width: 1160px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /*grid-template-rows: repeat(4,1fr);*/
    padding-bottom: 50px;
}
.work-img-container img{
    width: 100%;
    height: 206px;
}

/*------------ first block ---> show selected tab content -------------*/
.work-img-box.hide{
    display: none;
}

.work-img-box{
    position: relative;
}
.work-img-box:hover .work-img-selected-by-tab{
    display: flex;
    /*transition-duration: 1s;*/
}
.work-img-selected-by-tab{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-top: 2px solid #18CFAB;
    background-color: #eeeeee;
    z-index: 1;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.work-img-selected-by-tab img{
    height: 43px;
    width: 88px;
}
.work-img-selected-by-tab span{
    font-size: 14px;
    text-transform: uppercase;
    color: #18CFAB;
    margin: 30px 0 10px;
}
.work-img-selected-by-tab span:last-child{
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    color: #8A8A8A;
} /*----------------------------------------------------------*/

.work-content-container{ /*position: relative;*/}
.load-more-works{ /*display: contents;*/}
.buttons.load-more{
    font-size: 14px;
    box-shadow: 0 0 0  rgb(0, 0, 0);
}
.buttons.load-more::before {
    content: " + ";
    font-weight: 500;
    font-size: 28px;
    position: relative;
    top: 6px;
}
.load-more-works.not-active{
    display: none;
}
.load-more-works.display-none{
    display: none;
}





/*_________news______news_____news____________________________________________________________________________________*/
/*====================================================================================================================*/
.breaking-news-section{
    width: 1200px;
    display: table;
    text-align: center;
    margin: 0 auto;
}
div.title-section.news{
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
}
a.news-links{
    color: #4E4E4E;
}
.news-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    margin: 75px 0 130px;
}
.news-block{
    position: relative;
    /*width: 263px;*/
    background: #F8FCFE;
    padding-bottom: 14px;
}
.news-date{
    width: 70px;
    height: 70px;
    position: absolute;
    top: 0;
    left: 215px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;


    font-weight: 300;
    font-size: 16px;
    color: #fff;
    background-color: #203E38;
}
img.news-img{
    height: 208px;
    width: 100%;
    margin-bottom: 10px;
}
.news-block a{
    font-weight: 300;
    font-size: 14px;
    color: #777777;
}
.news-block a:first-child{
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize;
}
.news-block:hover{
    cursor: pointer;
}
.news-block:hover .news-date{
        background-color: #18CFAB;
}
.news-block:hover p a:first-child{
        color: #18CFAB;
}






/*_________feedback______feedback_____feedback________________________________________________________________________*/
/*====================================================================================================================*/
.feedback-section{
    width: 100%;
    background: url("../imgs/Sections background/section-3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    text-align: center;
    vertical-align: middle;
    color: white;
}
.feedback-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.4);
}
.feedback-img-quot{
    margin: 60px 0 20px;
}
.feedback-quot{
    width: 1160px;
    padding-bottom: 20px;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
    display: none;
}
.feedback-quot.active-quot{
    display: block;
}

span.name-active{
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: #18cfab;
    margin-bottom: 10px;
}
span.profession{
    font-weight: 300;
    font-size: 16px;
    color: #BBBBBB;
}

.photo-selected img{
    width: 143px;
    height: 142px;
    object-fit: cover;
    margin: 35px 0 70px;
    border: 9px rgba(11, 62, 71, 0.75) solid;
    border-radius: 50%;
}
.feedback-slider-container {
    width: 600px;
    height: 160px;
    margin: 30px 0;
    /*border: 1px #fff solid;*/
    overflow: hidden;
    position: relative;
}
.feedback-slides {
    height: 100%;
    /*width: 4000px;*/
    display: grid;
    grid-template-columns: repeat(8, 150px);
    /*gap: 10px;*/
}
div.feedback-photo-item {
    /*border: 1px rgba(255, 255, 255, 0.75) solid;*/
    align-self: center;
}
.feedback-photo-item img{
    width: 67px;
    height: 67px;
    object-fit: cover;
    border: 1px rgba(255, 255, 255, 0.75) solid;
    border-radius: 50%;
}
img.active-tab{
    width: 84px;
    height: 84px;
    position: relative;
    top: -30px;
}
.feedback-slides img:hover{
    cursor: pointer;
}

.btn-container{
    width: 660px;
    display: flex;
    justify-content: space-between;
    height: 30px;
    position: absolute;
    top: 85%;
}
.btn {
    width: 30px;
    height: 30px;
    font-size: 50px;
}
.btn:hover{
    color: #18cfab;
    cursor: pointer;
}
.not-active-btn{
    color: #4E4E4E;
    cursor: default;
}
.not-active-btn:hover{
    color: #4E4E4E;
    cursor: default;
}






/*_________gallery______gallery_____gallery___________________________________________________________________________*/
/*====================================================================================================================*/
.gallery-section{
    background-color: rgba(232, 230, 230, 0.3);
    width: 1160px;
    text-align: center;
    margin: 0 auto;
}
.gallery-content{
    padding-bottom: 70px;
    margin: 75px 0 0;
}
.load-more-gallery{
    top: 0;
    display: contents;
}
.gallery-img-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.item img{
    /*object-fit: cover;*/
    /*padding: 10px;*/
    width: 373px;
    margin-bottom: 20px;
}
.load-more-gallery.display-none{
    display: none;
}



/*_______footer____footer___footer____________________________________________________________________________________*/
/*====================================================================================================================*/
.footer{
    width: 100%;
    height: 120px;
    background-color: #22353F;
}
.footer-copyright-info{
    display: block;
    padding-top: 50px;
    text-align: center;
    font-weight: 200;
    font-size: 14px;
    color: #18CFAB;;
    text-decoration: none;
}
.footer-copyright-info::before{
    content: "\A9 \A0 Copyright 2015 \A0";
    color: #AEAEAE;
}
.footer-copyright-info::after{
    content: "\A0 \| All Rights Reserved";
    color: #AEAEAE;
}