.theoretical-tasks {
    margin: 3% 0;
    display: grid;
    grid-template-columns: 0.5fr 2fr 4fr 0.5fr;
    gap: 20px; /*grid-column-gap: 20px;*/ /*grid-row-gap: 20px;*/
    /*justify-items: center;*/
    justify-items: stretch;
    align-items: center;
    /*align-items: start;*/
    text-align: left;
}
.theoretical-tasks div{
    align-items: center;
    align-self: stretch;
    padding: 14px;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    background: rgba(243, 243, 243, 0.5);
}
.question{
    grid-column: 2/3; /*grid-column-start: 2;*/ /*grid-column-end: 3;*/
}
div.question{
    font-weight: 600;
}
.answer{
    grid-column: 3/4; /*grid-column-start: 3;*/ /*grid-column-end: 4;*/
}


.table{
    border-collapse: collapse;
    border: 7px solid #c2c2c2;
    margin: 0 auto;
    background: white;
}
.table td{
    width: 30px;
    height: 30px;
    border: 1px solid rgba(243, 243, 243, 0.5);
}

.table-black-selected{
    background: white;
}
.table-white-selected{
    background: black;
}

.black{
    background: black;
}
.white{
    background: white;
}
