.txt-basic {font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    color: #373737;
}
.conteiner{
    width: 1280px;
    margin-left: calc(50% - 1280px / 2);
    margin-right: calc(50% - 1280px / 2);
    top: 0;
    background: rgba(0, 0, 0, 0.0001);
}
.conteiner-bar{
    width: 620px;
    margin-top: 25.5px;
    margin-bottom: 25.5px;
    margin-left: 330px;
    margin-right: 330px;
}
.navbar{
    display: inline-block;
    margin-right: 72px;

    font-size: 18px;
    /* or 100% */
    letter-spacing: 2.1px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ff0000;
}
.img-index{
    height: 789px;
    width: 1280px;
}
.header{
    margin-top: 48px;
    margin-bottom: 38px;

    font-size: 22px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
}
.p-index{
    display: inline-block;
    margin-right: 67.5px;
    margin-left: 67.5px;
    margin-top: 0;
    margin-bottom: 0;

    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* or 162% */
    letter-spacing: 2.4px;
}
.button{
    background-color: red;
    border-style: none;
    border-radius: 4px;
    width: 191px;
    height: 51px;
    display: block;
    margin-top: 66px;
    margin-left: 544.5px;

    font-size: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.copy-right{
    display: block;
    margin-top: 93.5px;
    margin-right: 105px;

    font-size: 16px;
    line-height: 20px;
    text-align: end;
    letter-spacing: 2.4px;
}
