ul {
    list-style: none;
    padding-left: 0;
}
.centered-content{
    margin: 0 auto;
    width: 800px;
    /*height: 50vh;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}
.tabs{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
}
.tabs-title{
    border-bottom: 5px solid transparent;
    cursor: pointer;
    flex: 1px;
    padding: 20px;
    background-color: #23201D;
    color: #937341;

    font-size: 24px;
    font-weight: 600;
}
.tabs-title.is-active{
    border-color: #a7a7a7;
    background-color:#937341 ;
    color: #23201D;
}
.tabs-content{
    margin: 0;
}
.tab{
    background-color: #f2f2f2;
    display: none;
    padding: 20px;
}
.tab.is-active{
    display: block;
}



