body, html{
    height: 100vh;
    width: 100vw;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
}
:hover {transition: 0.5s;}
/**a{text-decoration: none;}*/
.sections-titles{
    cursor: pointer;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #14B9D5;
}
a.sections-titles:hover{
    text-shadow: -3px -2px 1px rgb(0, 188, 216);
    color: #FFFFFF;
}

/* --------- header-FLEX ------> header ------*/  /* --------- navbar-FLEX ------> navbar-top ------*/
.header-content{
    height: 100vh;
    width: 100vw;
    background-image: url("../images/header-bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.navbar{
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: space-between;
    align-self: center;
    background: #313131;
}
.navbar div{
    display: inline-flex;
    justify-content: flex-start;
    align-self: center;
}
.navbar a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    color: #ffffff;
    padding: 0 0 0 30px;
}
.navbar a:hover{
    color: #14B9D5;
}
.left-bgr-box{           /* не знаю зачем, но он есть в макете, п э есть и здесь)*/
    width: 80px;
    height: 70px;
    box-sizing: border-box;
    align-items: center;
    background: rgba(0, 0, 0, 0.1);
}
.become-right{
    padding-left: 36px;
    background: #000000;
}
div.left-bgr-box a{
    display: inline-flex;
    vertical-align: center;
}
span.left-logo{
    font-size: 22px;
    text-transform: none;
    padding: 0 0 0 30px;
    margin-top: 5px;
}
.top-menu{
    display: inline-flex;
    justify-content: flex-start;
    align-self: center;
}
ul.top-menu{
    margin: 0;
    padding: 0;
    list-style: none;
}
.fa-search{
    font-size: 18px;
    color: #fff;
}
.form{
    position: relative;
}
.form-search{
    display: none;
    position: absolute;
    justify-content: flex-end;
    top: 70px;
    right: 30px;
    font-size: 15px;
    color: #313131;
    text-transform: uppercase;
}
.form:hover .form-search{
    display: flex;
    cursor: pointer;
}
.form-search:hover:active{
    display: flex;
}
.header-title{
    text-decoration: none;
    margin: 45vh 0 5vh 0;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.header-title:hover{
    text-shadow: -3px -2px 1px rgb(0, 188, 216);
    transform: scale(1.1);
    transition: 0.9s;
}
.header-buttons{
    margin-bottom: 30vh;
}
.header-buttons a{
    text-decoration: none;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #14B9D5;
    border-radius: 5px;
    padding: 18px 36px;
    margin-right: 20px;
}
.header-buttons a:first-child{
    background-color: #89CA62;
}
.header-buttons a:hover{
box-shadow: -3px -2px 1px rgb(255, 255, 255);
}



/* ---- main --- 1 блок-FLEX ------> most-popular-posts ------*/
.most-posts-background{
    background: #F2F2F2;
    padding-bottom: 50px;
}
.most-posts-block{
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.most-posts-title{
    text-decoration: none;
    margin: 49px 0 51px 0;
}
.most-posts-links{
    -webkit-columns: 370px auto;
    -webkit-writing-mode: horizontal-tb;
    columns: 370px auto;
}
.most-posts-links-txt{
    position: relative;
    top: 26px;
}
.most-posts-links a{
    display: inline-block;
    padding: 0 0 60px 0;
    width: 370px;
    margin-bottom: 20px;
    background: #FFFFFF;
    vertical-align: top;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: #313131;
    text-decoration: none;
}
.box-shad a:hover{
    box-shadow: 0 0 8px #555;
}


/* ---- main --- 2 блок-GRID ------> most-pop-CLIENTs ------*/
.most-pop-clients-grid{
    display: grid;
    grid-template-columns: 2fr repeat(4, 1fr) 2fr;
    grid-column-gap: 60px;
    justify-items: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background: url("../images/parallax-bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: 0 auto;
}
.most-pop-clients-grid div{
    justify-self: center;
    text-align: center;
}
.most-pop-clients-grid .most-pop-clients-title{
    grid-column: 2/-2;
    align-self: self-end;
    margin-top: 10%;
    font-size: 32px;
    color: #FFFFFF;
}
.most-pop-clients-title a:hover {
    color: #14B9D5;
}
.most-pop-clients-grid .line{
    grid-column: 2/-2;
    width: 60px;
    border-bottom: 2px solid #14B9D5;
}
.most-pop-clients-grid .national-post{
    grid-column-start: 2;
    align-self: self-start;
    position: relative;
    top: 10px;
    margin-bottom: 90%;
}
.most-pop-clients-grid .dryme{
    align-self: self-start;
}
.most-pop-clients-grid .house-home{
    align-self: self-start;
}
.most-pop-clients-grid .journy{
    align-self: self-start;
}
.most-pop-clients-grid img:hover {
    transform: scale(1.1);
}



/* ---- main --- 3 блок-GRID ------> TOP-RATED ------*/
.top-rated-grid{
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);  /*grid-template-columns: repeat(auto-fit, 1fr);*/
    grid-row-gap: 50px;
    justify-items: center;
    align-items: center;
}
.top-rated-grid .title-link{
    grid-column: 1/-1;
}
.top-rated-grid img{
    max-width: 100%;
}
.top-rated-grid div{
    position: relative;
}





/* ---- main --- 4 блок-GRID ------> hot-NEWs ------*/
.hot-news-grid{
    display: grid;
    width: 100%;
    grid-template-columns: 1.5fr repeat(4, 1fr) 1.5fr;
    grid-gap: 20px;
}
.hot-news-grid img{
    max-width: 100%;
    height: auto;
}
.hot-news-grid div {
    /*overflow: scroll;*/
    overflow: hidden;
    background: #F9F7F7;
    position: relative;
}
.on-link-title:hover::after{
    content: attr(data-title);
    position: absolute;
    left: 15px;
    top: 15px;
    z-index: 1;
    background: rgba(255,255,230,0.9);
    font-size: 14px;
    padding: 5px 10px;
}
.hot-news-grid a{
    text-decoration: none;
    text-align: right;
}
.hot-news-grid div:first-child:hover {
    box-shadow: none;
}
div.hot-news-grid-title{
    grid-column: 1/-1;
    justify-self: center;
    margin: 48px 0 28px 0;
    background-color: #FFFFFF;
}
.Emirate{
    height: 259px;
    grid-column-start: 2;
    grid-column-end: 5;
}
.Emirate img{
    float: left;
    padding-right: 14px;
    position: relative;
    top: -18px;
}
.Emirate span{
    margin: 18px 0 18px 0;
}
.Spain span{
    padding-top: 14px;
    margin: 0 auto;
    text-align: center;
}
.Egypt{
    grid-column-start:2 ;
    grid-column-end: 4;
}
.Maldives{
    grid-column-start: 4;
    grid-column-end: 6;
}
.Tenerife{
    grid-column-start: 2;
    grid-column-end: 4;
}
.Britain{
    grid-column-start: 4;
    grid-column-end: 6;
}
.Ireland{
    grid-column-start: 2;
    grid-column-end: 3;
}
.Ireland span{
    padding-top: 14px;
    margin: 0 auto;
    text-align: center;
}
.Spain-kings{
    height: 259px;
    grid-column-start: 3;
    grid-column-end: 6;
}
.Spain-kings img{
    float: left;
    padding-right: 14px;
    position: relative;
    top: -18px;
}
.Spain-kings span{
    margin: 18px 0 18px 0;
}
.hot-news-links-title{
    display: block;
    margin: 17px 20px 14px 0;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    color: #313131;
}
.hot-news-links-txt{
    display: block;
    margin: 0 20px 14px 0;
    color: #5B6469;
}



/* --------- footer-GRID ------> footer ------*/
.footer-copyright{
    display: grid;
    width: 100%;
    height: 80px;
    margin-top: 77px;
    grid-template-columns: 1.5fr repeat(4, 1fr) 1.5fr;
    grid-gap: 20px;
    justify-content: center;
    background: #313131;
}
.footer-copyright .footer-copyright-info{
    grid-column: 2/5;
    justify-self: start;
    align-self: center;
}
.footer-copyright a{
    text-decoration: none;
}
.footer-copyright-info a{
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
}
.footer-copyright .footer-logo{
    grid-column: 5/6;
    justify-self: end;
    align-self: center;
}
.footer-red-logo{
    position: relative;
    top: 8px;
}
.footer-copyright a img:hover{
    transition: 0.1s;
    transform: scale(1.1)
}


