.theoretical-tasks{
    margin: 3% 0;
    display: grid;
    grid-template-columns: 0.5fr 2fr 4fr 0.5fr;
    gap: 20px; /*grid-column-gap: 20px;*/ /*grid-row-gap: 20px;*/

    justify-items: stretch;
    align-items: start;
    text-align: left;
}
.theoretical-tasks div{
    align-self: stretch;
    padding: 14px;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    background: rgba(243, 243, 243, 0.5);
}
.question{
    grid-column: 2/3; /*grid-column-start: 2;*/ /*grid-column-end: 3;*/
}
div.question{
    font-weight: 600;
}
.answer{
    grid-column: 3/4; /*grid-column-start: 3;*/ /*grid-column-end: 4;*/
}



.password-form {
    display: flex;
    flex-direction: column;
}
.input-wrapper {
    position: relative;
    width: intrinsic;
    width: -moz-max-content;
    width: -webkit-max-content;
}

.input-wrapper input {
    min-width: 120px;
    padding: 10px;
    margin-bottom: 24px;
}

.input-wrapper i {
    position: absolute;
    right: 10px;
    top: 12px;
    color: grey;
}

.btn{
    width: 150px;
    margin-top: 10px;
}
.icon-password{
 cursor: pointer;
}
.confirmation{
    position: relative;
}
.not-match{
    position: absolute;
    color: #ff0000;
    top: 46px;
}