body {
    width: 100vw;
    height: 100vh;
    background: #000;
    overflow: hidden;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 1.3em;
}
.star-wars-audio{
    /*display: none;*/
    position: absolute;
    z-index: 2;
}
.fade-box {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0) 70%) ;
    z-index: 1;
}
.star-wars {
    display: flex;
    justify-content: center;
    position: relative;
    height: 800px;
    color: #ffce30;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    perspective: 400px;
    text-align: justify;
}

.star-war-text-box {
    position: relative;
    top:0;
    transform-origin: 50% 100%;
    animation: star-war-animation 30s linear 0.2s infinite normal;
    /*animation-name: star-war-animation;*/
    /*animation-duration: 30s;*/
    /*animation-timing-function: cubic-bezier(0.000, 0.000, 0.580, 1.000)linear*/
    /*animation-delay: 1s;*/
    /*animation-iteration-count: infinite;*/
    /*animation-direction: normal;*/

}
/*.star-war-text-box :hover{*/
/*   animation-play-state: paused;*/
/*}*/
.star-war-text-box > .title {
    text-align: center;
    text-transform: uppercase;
}
@keyframes star-war-animation {
    0% {
        top: 200%;
        transform: rotateX(30deg)  translateZ(0px);
    }
    100% {
        top: -490%;
        transform: rotateX(40deg) translateZ(-2500px);
    }
}



























/*.title{*/
/*    text-transform: uppercase;*/
/*}*/
/*.star-war-animation{*/
/*    !*visibility: hidden;*!*/
/*    width: 80vw;*/
/*    margin: 0 auto;*/
/*    !*animation: my_animation 10s cubic-bezier(0.000, 0.000, 0.580, 1.000) 1s infinite normal;*!*/
/*    !*animation-name: my_animation;*!*/
/*    animation-duration: 10s;*/
/*    animation-timing-function: cubic-bezier(0.000, 0.000, 0.580, 1.000);*/
/*    animation-delay: 1s;*/
/*    !*animation-iteration-count: infinite;*!*/
/*    animation-direction: normal;*/
/*    !*transform: rotate3d(1, 1, 1, 50deg);*!*/
/*    !*perspective: 20px;*!*/
/*    !*transform: translateY(50px) translateZ(-10px) ;*!*/
/*    !*transform-style: preserve-3d;*!*/
/*}*/
/*.star-war-animation:hover{*/
/*    animation-play-state: paused;*/
/*}*/
/*@keyframes my_animation{*/
/*    0%{*/
/*        margin-top: 100vh;*/
/*        color: rgba(255, 230, 113, 1);*/
/*        visibility: visible;*/
/*        font-size: 900%;*/
/*        line-height: 500%;*/
/*    }*/
/*    80%{color: rgba(255, 230, 113, 1);}*/
/*    100%{*/
/*        margin-top: 15vh;*/
/*        font-size: 50%;*/
/*        line-height: 500%;*/
/*        color: rgba(255, 230, 113, 0);*/
/*    }*/
/*}*/